@import "bourbon";
@import "../../scss/__theme-config.scss";
@import "../../scss/__theme-mixins.scss";
@import "../../scss/__theme-common-extends.scss";
@import "../../scss/__theme-colors.scss";

.thb-theme {
	#bbpress-forums {
// -----------------------------------------------------------------------------
// $Commons
// -----------------------------------------------------------------------------

		font-size: inherit;
		line-height: inherit;
		overflow: visible;

		ul.bbp-lead-topic,
		ul.bbp-topics,
		ul.bbp-forums,
		ul.bbp-replies,
		ul.bbp-search-results {
			font-size: inherit;
			line-height: inherit;
		}

		> .bbp-topic-tags {
			font-size: 14px;
		}

		.subscription-toggle {
			float: right;
			font-size: 14px;
		}

		.bbp-header {
			font-size: 14px;
		}

		.bbp-body {
			font-size: 14px;

			.bbp-forum-content {
				font-size: 12px;
				margin-top: $baseline/2;
			}

			ul.forum,
			ul.topic {
				font-size: 12px;
				border: none;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: $grey_light;
				padding: $baseline/2 0;

				.bbp-forum-title {
					font-size: 14px;
				}
			}
		}

		.bbp-pagination {
			font-size: 12px;
			@extend %grey_color;
			margin-bottom: $baseline;
		}

		.odd {
			background: none;
		}

		.bbp-footer {
			display: none;
		}

		.bbp-forums,
		.bbp-topics {
			border: none;
			margin-bottom: $baseline;

			.bbp-header {
				padding: 0 0 $baseline/2 0;
				background: none;
				border: none;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: $black;
				text-transform: uppercase;
				color: $black;
				font-size: 12px;
			}
		}

		.status-closed,
		.status-closed a {
			color: inherit;
		}

// -----------------------------------------------------------------------------
// $Search form
// -----------------------------------------------------------------------------
		.bbp-search-form {
			float: none;
			margin-bottom: $baseline;

			#bbp-search-form {
				position: relative;

				#bbp_search {
					width: 100%;
					padding-right: 39px;
				}

				#searchsubmit {
					margin-top: 0;
					@include position(absolute, 3px 3px null null);
					padding: $baseline/2 - 4;
					border-color: transparent;
					background-color: transparent;
					@extend %grey_color;

					&:before {
						position: relative;
						@extend %icon;
						content: "R";
						line-height: 1;
					}

					&:hover {
						@extend %black_color;
					}
				}
			}
		}

// -----------------------------------------------------------------------------
// $Breadcrumb
// -----------------------------------------------------------------------------
		.bbp-breadcrumb {
			font-size: 14px;

			p {
				margin-bottom: $baseline;
			}
		}

// -----------------------------------------------------------------------------
// $Avatar
// -----------------------------------------------------------------------------

		.bbp-topic-meta .bbp-author-avatar {
			display: none;
		}

// -----------------------------------------------------------------------------
// $Form
// -----------------------------------------------------------------------------
		.bbp-submit-wrapper {
			float: left;
		}

		.bbp-form {
			border: none;
			padding: 0;
			margin-bottom: $baseline;
			margin-top: $baseline;
			clear: both;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: $grey_light;
			padding-top: $baseline;
			font-size: 14px;

			legend {
				@extend %small_title;
				font-size: 32px;
				font-weight: 300;
				line-height: 1.1;
				color: $black;
				padding: 0;
				margin-bottom: $baseline;
				display: block;
				float: left;
				width: 100%;
			}

			p label {
				font-size: 12px;
			}

			.bbp-the-content-wrapper {
				border-width: 2px;
				border-style: solid;
				border-color: $grey;
				border-radius: $radius;

				.wp-editor-area {
					font-family: inherit;
					font-size: 14px;
					line-height: 1.45;
				}
			}
		}

// -----------------------------------------------------------------------------
// $Single topic
// -----------------------------------------------------------------------------

		.bbp-replies,
		.bbp-search-results {
			border: none;

			li.bbp-header {
				background: none;
				border: none;
				padding: 0 0 $baseline/2 0;

				.bbp-reply-author,
				.bbp-topic-author {
					display: none;
				}

				.bbp-reply-content,
				.bbp-topic-content {
					text-indent: -999em;

					#subscription-toggle,
					#favorite-toggle {
						text-indent: 0;
					}
				}

			}

			.bbp-body {

				.bbp-reply-header,
				.bbp-topic-header,
				.bbp-forum-header {
					background: none;
					border-top-width: 1px;
					border-top-style: solid;
					border-top-color: $grey;
					padding: $baseline/2 0 0 0;
					margin-bottom: $baseline;

					.bbp-reply-post-date,
					.bbp-topic-post-date,
					.bbp-forum-post-date {
						color: $grey;
						font-size: 12px;
					}

					.bbp-reply-permalink,
					.bbp-topic-permalink,
					.bbp-forum-permalink {
						font-size: 12px;
						font-weight: normal;
						color: inherit;
					}

					.bbp-admin-links {
						font-size: 12px;

						a {
							font-size: 12px;
						}
					}
				}

				.hentry {
					padding: 0;

					.bbp-reply-author,
					.bbp-topic-author {
						.bbp-author-avatar {
							display: block;
							margin-top: $baseline/2;

							img {
								margin: 0;
							}
						}

						br {
							display: none;
						}

						a {
							margin-top: $baseline/2;
							border-bottom: none;
						}

						.bbp-author-ip,
						.bbp-reply-ip {
							font-weight: normal;
						}
					}

					.bbp-reply-content,
					.bbp-topic-content {
						padding: $baseline/2 0 $baseline;
					}

					.bbp-forum-content {
						margin: 0;
						padding-top: 0;
						padding-bottom: $baseline;
					}
				}
			}
		}

		.bbp-search-results {
			.bbp-header {
				@extend %small_title;
				font-size: 14px;
				text-align: left;
			}
		}

		#bbp_log_reply_edit {
			position: relative;
			margin-bottom: 0;
			top: -3px;

			+ label {
				font-size: 22px;
			}
		}

// -----------------------------------------------------------------------------
// $Forums
// -----------------------------------------------------------------------------

	.forum-titles {
		@extend %small_title;
		font-size: 14px;
	}

// -----------------------------------------------------------------------------
// $Profile page
// -----------------------------------------------------------------------------

		#bbp-user-wrapper {

			.bbp-topics,
			.bbp-replies {
				clear: both;
			}

			.entry-title {
				@extend %small_title;
				font-size: 32px;
				font-weight: 300;
				line-height: 1;
				margin-bottom: $baseline;
				padding: 0;
			}

			#bbp-single-user-details {
				@extend %clearfix;
				width: auto;
				float: none;
				overflow: visible;
				margin-bottom: $baseline;
				padding-bottom: $baseline;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: $grey_light;

				#bbp-user-avatar {
					width: auto;
					float: left;
					margin-right: $baseline/2;

					a {
						display: block;

						img {
							@include size(32px);
							margin-bottom: 0;
						}
					}
				}

				#bbp-user-navigation {
					float: left;

					ul li {
						display: block;
						float: left;
						line-height: 32px;
						font-size: 14px;
						margin-left: $baseline/4;

						&:first-child {
							margin-left: 0;
						}

						a {
							padding: 0 $baseline/2;
							border: none;
							color: $grey;

							&:hover {
								color: $black;
							}
						}

						&.current {
							a {
								color: $black;
								background-color: $grey_light;
								@include opacity(100);
							}
						}
					}
				}
			}


			#bbp-user-body {
				margin: 0;
				font-size: 14px;

				.bbp-user-section {
					margin-bottom: $baseline;
				}

				.bbp-user-profile {
					.bbp-user-section p {
						margin-bottom: $baseline/4;
					}
				}
			}

			.bbp-row-actions {
				#favorite-toggle span.is-favorite a {
					padding: 0 6px 1px;
					border-radius: $radius;
					margin-right: 5px;
					color: $grey;
					background: none;
					border-color: $grey;
					border-width: 2px;

					&:hover {
						color: $black;
						background: none;
						border-color: $black;
					}
				}
			}
		}
	}
}

/* @media 480 */
@media #{$media_480} {
	.responsive_480 {
		@import "480.scss";
	}
}