#main-nav > div + .thb-mini-cart-icon-wrapper {
	margin-left: $gutter;
}

.logo-right {
	#main-nav .thb-mini-cart-icon-wrapper {
		margin-right: $gutter;
	}

	.thb_mini_cart_wrapper {
		left: 0;
		right: auto;
	}
}

.thb-mini-cart-icon-wrapper {
	position: relative;
}

// -----------------------------------------------------------------------------

.thb-product-numbers {
	@include position(absolute, -4px null null -6px);
	@extend %highlight_background_color;
	color: #fff;
	text-align: center;
	line-height: 1;
	border-radius: 10px;
	font-size: 11px;
	padding: 3px 6px;
	z-index: 10;
	display: none;

	&.minicart-full {
		display: block;
	}
}

.logo-right {
	.thb-product-numbers {
		left: auto;
		right: -6px;
	}
}

#thb-cart-trigger {
	position: relative;
	font-size: 0;
	line-height: 0;
	float: left;
	padding-bottom: $baseline/2;

	&:after {
		@include size(32px 28px);
		@extend %icon;
		content: "X";
		font-size: 20px;
		line-height: 28px;
		text-align: center;
	}
}

.thb-woocommerce-cartempty {
	#thb-cart-trigger:after {
		content: "W";
	}
}

.thb_mini_cart_wrapper {
	@extend %border_box;
	@include transform(translate3d(0,0,0));
	display: none;
	@include opacity(0);
	@include transition(opacity $transition_time*2 ease-in-out);
	width: 260px;
	@include position(absolute, 100% 0px null null);
	z-index: 100;
	padding: $baseline/2;
	border: 1px solid $grey;
	background: $white;
	@include box-shadow( 0 10px 30px rgba(0,0,0,.1) );
	color: $grey_dark;

	a {
		color: $black;

		&:hover {
			@extend %highlight_color;
		}
	}
}

.thb-mini-cart-active {
	.thb_mini_cart_wrapper {
		@include opacity(100);
	}

	#thb-cart-trigger {}
}

.widget_shopping_cart_content,
.thb_mini_cart_wrapper {
	.total {
		border-top: 1px dashed $grey;
		padding-top: $baseline/2;
		margin-top: $baseline/2;
		clear: both;
		text-transform: uppercase;
		@extend %ff_roboto;
		font-size: 16px;
	}

	.buttons {
		margin-top: $baseline/2;

		.button {
			@extend %border_box;
			@include transform(translate3d(0,0,0));
			display: block;
			float: left;
			text-align: center;
			width: 48%;
			line-height: $baseline;
			font-size: 16px;
			text-transform: uppercase;
			@extend %ff_roboto;
			padding: $baseline/4 0;
			background-color: $grey_ultra_light;

			&:hover {
				background-color: $grey_dark;
				color: $white;
			}

			&.checkout {
				float: right;
				background-color: #8cc151;
				color: $white;

				&:hover {
					background-color: $grey_dark;
					color: $white;
				}
			}
		}
	}
}

// -----------------------------------------------------------------------------
// $Cart sidebar
// -----------------------------------------------------------------------------

#thb-header {
	ul.cart_list,
	ul.product_list_widget {
		@extend %clearfix;

		li {
			@extend %clearfix;
			display: block;
			float: none !important;
			padding: $baseline/4 $baseline/2;
			margin-left: -($baseline/2) !important;
			margin-right: -($baseline/2) !important;
			margin-bottom: 0;

			a {
				padding: 0;
				display: block;
				text-transform: none;
				font-weight: normal;
				font-size: 14px;
				float: none !important;
				margin-bottom: 0;
				line-height: 1.25;

				&:hover {
					&:before {
						display: none;
					}
				}
			}

			span {
				font-size: 14px;
				width: auto;
			}
		}
	}
}

ul.cart_list,
ul.product_list_widget {

	li {
		list-style-type: none;
		@extend %clearfix;
		margin-bottom: $baseline;
		padding-top: 0;
		position: relative;

		.remove {
			@include position(absolute, 2px null null 2px);
			display: block;
			width: 16px;
			height: 16px;
			background-color: #e9573f;
			color: #fff;
			z-index: 10;
			text-align: center;
			line-height: 16px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			display: block;
			@extend %ff_roboto;
			text-transform: uppercase;
			font-size: 16px;
			border-bottom: none;
		}

		&.empty {
			margin-bottom: 0;
			text-transform: none;
			font-size: 14px;
		}

		.wp-post-image {
			position: relative;
			display: block;
			float: left;
			text-decoration: none;
			margin-bottom: 0;
			height: auto;
			width: 54px;
			overflow: hidden;
			margin-right: $baseline/2;

			img {
				width: 100%;
				height: auto;
			}
		}

		.amount {
			@extend %secondary_text;
		}

		.from,
		del .amount {
			color: #999;
		}

		ins {
			text-decoration: none;
		}

		.variation {
			@extend %clearfix;
			display: block;
			font-size: 12px;
			color: #333;
			overflow: hidden;

			dt {
				float: left;
				clear: both;
				display: block;

				&:before {
					content: "-";
					display: inline-block;
					float: left;
					margin-right: 4px;
				}
			}

			dd {
				float: left;
				display: block;
			}
		}

		.star-rating {
			float: none;
			display: block;
			margin-bottom: 5px;
			font-size: .8em;
		}
	}
}

.sidebar {
	ul.cart_list,
	ul.product_list_widget {
		li {
			a {
				border-bottom: none;
				font-weight: normal;
			}
		}
	}
}